<html>
    <head>
        <title>WorkPlay Pomodoro - Activity</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="../src/css/activity.css">
        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Maven+Pro" rel="stylesheet">
        <script src="../lib/jquery-3.3.1.js"></script>
        <script src="../src/js/activity.js"></script></script>
    </head>
    <body>
      <div class="wrapper">
        <div class="tasks">
          <h2>Activity Log</h2>
        <div class="activityLog">
          <div class="activityNav">
            <ul>
              <li><span class="selected" id="allTasksButton">All</span></li>
              <li><span id="dailyTasksButton">Daily</span></li>
              <li><span id="weeklyTasksButton">Weekly</span></li>
              <li><span id="monthlyTasksButton">Monthly</span></li>
            </ul>
          </div>
            <table id="completedTasksTable">
              <thead>
                  <tr>
                      <th>Work/Play</th>
                      <th>Title</th>
                      <th>Completed Date</th>
                      <th>Total time spent</th>
                    </tr>
              </thead>
              <tbody></tbody>
            </table>
        </div>
      </div>
    </body>
</html>
