<html>
    <head>
        <title>WorkPlay Pomodoro</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="../src/css/popup.css">
        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Maven+Pro" rel="stylesheet">
        <script src="../lib/jquery-3.3.1.js"></script>
        <script src="../src/js/popup.js"></script>
    </head>
    <body>
        <div class="wrapper">
                <div class="settingsButton">
                    <button><a href="#"><i class="fas fa-cog settings"></i></button>
                </div>
                <div class="activityButton">
                   <button><a href="#"><i class="fas fa-chart-area activity"></i></a></button>
                </div>
            
            <h3>What to do today?</h3>
            <div class="taskList">
                <!-- <ul>
                    <li class="taskIcon">
                        <i class="fas fa-paper-plane"></i>
                    </li>
                    <li class="taskName">
                    Watch youtube videos
                    </li>
                    <li class="taskBlocks"></li>
                </ul>
                <ul>
                    <li class="taskIcon">
					    <i class="fas fa-briefcase"></i></li>
                    <li class="taskName">Debug JavaScript</li>
                    <li class="taskBlocks"></li>
                </ul> -->
		    </div>
		
		    <div class="newTaskButton">
                <button><a href="#"><i class="fas fa-plus"></i> Add New Task</a></button>
		    </div>

            <div class="currentTask">
                <h3>Current Task List:</h3>
                <ul>
                    <li class="taskIcon">
                        <i class="fas fa-paper-plane"></i>
                    </li>
                    <li class="taskName playItem">
                        Watch youtube videos
                    </li>
                    <li class="taskBlocks"></li>
                    <li class="taskBlocks"></li>
                </ul>
                <ul>
                    <li class="taskIcon">
                        <i class="fas fa-briefcase"></i></li>
                    <li class="taskName workItem">Debug JavaScript</li>
                    <li class="taskBlocks"></li>
                </ul>
            </div>

            <div class="pomodoro">
                <h2>00:24:56</h2>													
		    </div>
		
            <div class="pomodoroStart">
                <button><a href="#"><i class="fas fa-play-circle"></i></a></button>
            </div>
            <div class="pomodoroPause">
                <button><a href="#"><i class="fas fa-pause-circle"></i></a></button>
            </div>
            <div class="pomodoroStop">
                <button><a href="#"><i class="fas fa-stop-circle"></i></a></button>
            </div>
        </div>
    </body>
</html>