<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>WorkPlay Pomodoro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../lib/jquery-3.3.1.js"></script>
    <script src="../src/js/popup.js"></script>
    <style>
        .container {
            width: 300px;
        }

        #task-form{
            display: none;
        }    

        .task-div {
            display: flex;
            cursor: pointer;
        }

        .task-title, 
        .task-time-blocks,
        .task-mode {
            padding: 4px 10px;
        }

        #errors {
            color: red;
        } 
    </style>
</head>
<body>
    <div class="container">
        <h2>What to do today</h2>
        <div id="tasks-list"></div>
        <div id="task-form">
            <ul id="errors"></ul>
            <select id="mode-select">
                <option value="work">Work</option>
                <option value="play">Play</option>
            </select>
            <input type="text" id="title-input" required>
            <input type="number" id="time-blocks-input" max="4" min="1">
            <button id="save-btn">Save</button>
            <button id="cancel-btn">Cancel</button>
        </div>
        <button id="add-task-btn">+ Add Task</button>        
    </div>
</body>
</html>