<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>WorkPlay Pomodoro - Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../src/css/settings.css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Maven+Pro" rel="stylesheet">
    <script src="../lib/jquery-3.3.1.js"></script>
    <script src="../src/js/settings.js"></script>
    
</head>

<body>

    <div class="wrapper">
        <div class="settingsMain">
            <h1>Settings</h1>
            <div id="settingsMessages"></div>
            <p>
                <label for="timeBlockSizeSetting">Time Block Size:</label>
                <input id="timeBlockSizeSetting" type="number" max="60" min="1"> mins
            </p>
            <p>
                <label for="displayTaskNotification">Display Task Notification:</label>
                <input type="checkbox" id="displayTaskNotification" checked>
            </p>
            <button id="saveSettingsButton">Save</button>
            <button id="resetSettingsButton">Reset</button>
        </div>
    </div>
</body>
</html>
</html>

