body {
  background-color: #FFFCF7;
  color: #393e46;
}

li:hover {
  color: #D14545;
  cursor: pointer;
}

h2 {
  font-family: 'Maven Pro', sans-serif;
  color: #222831;
  text-align: center;
}

table {
  border: 1px solid #ddd;
}

table tr:nth-child(even) {
  background-color: #f2d4a88c;
}

th {
  padding: 12px;
  text-align: left;
  background-color: #f2d4a8;
}

td {
  text-align: center;
  padding: 5px;
}

tr:hover {
  background-color: #f2d4a8;
}

tr:nth-child(even):hover {
  background-color: #f2d4a8;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  grid-row-gap: 5em;
}

.tasks {
  grid-column-start: 2;
  grid-column-end: 3;
}

.completed {
  text-decoration: line-through;
}

li .selected {
  font-weight: bold;
  text-decoration: underline;
}

.wrapper ul {
	list-style-type: none;
	-webkit-padding-start: 0px;
}

.wrapper ul li {
	display: inline;
}

.newTaskButton {
  text-align: center;
}

.activityLog {
  grid-column-start: 1;
  grid-column-end: span 3;
}

.activityNav {
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
}

#completedTasksTable {
  width: 100%;
}
