a {
	text-decoration: none;
}

a:link, a:visited {
	color: blue;
}

a:hover {
	color: skyblue;
}

h3 {
	grid-column-start: 2;
	grid-column-end: 3;
	font-family: 'Maven Pro', sans-serif;
}

button {
	font-family: 'Maven Pro', sans-serif;
	padding: 12px;
	background-color: white;
	border-radius: 25%;
	border: 2px solid blue;
	font-size: 20px;
}

button:hover {
	background-color: blue;
	transition: .5s ease;
}

button:hover a {
	color: skyblue;
	transition: .5s ease;
}

.wrapper {
	display: grid;
	grid-template-columns: 100px 1fr 100px;
	justify-items: center;
	width: 260px;
}

.settingsButton {
	grid-column-start: 1;
	grid-column-end: 2;
	font-size: 30px;
}

.activityButton {
	grid-column-start: 3;
	grid-column-end: 4;
	font-size: 30px;
}

.taskList {
	grid-column-start: 1;
	grid-column-end: span 3;
	cursor: pointer;
	user-select: none;
}

.wrapper ul {
	list-style-type: none;
	-webkit-padding-start: 0px;
}

.wrapper ul li {
	display: inline;
}

.newTaskButton {
	grid-column-start: 1;
	grid-column-end: span 3;
}

.currentTask {
	grid-column-start: 1;
	grid-column-end: span 3;
}

.pomodoro {
	grid-column-start: 2;
	grid-column-end: span 1;
	font-family: 'Maven Pro', sans-serif;
}

.pomodoroStart {
	grid-column-start: 1;
	grid-column-end: span 1;
}

.pomodoroPause {
	grid-column-start: 2;
	grid-column-end: span 1;
}

.pomodoroStop {
	grid-column-start: 3;
	grid-column-end: span 1;
}

.playItem {
	font-family: 'Gloria Hallelujah', cursive;
}

.workItem {
	font-family: 'Maven Pro', sans-serif;
}

.taskBlocks {
	float:right;
	width: 7px;
	height: 7px;
	margin: 2px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: blue;
}

.deleteButton {
	background: #e74c3c;
	height: 10px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.25s linear;
	opacity: 0;
}

.deleteButton:hover {
	width: 10px;
	opacity: 1.0;
}
