a {
	text-decoration: none;
}

a:link, a:visited {
	color: blue;
}

a:hover {
	color: skyblue;
}

h3 {
	grid-column-start: 1;
	grid-column-end: 4;
	font-family: 'Maven Pro', sans-serif;
	
}

button {
	font-family: 'Maven Pro', sans-serif;
	padding: 12px;
	background-color: white;
	border-radius: 25%;
	border: 2px solid blue;
	font-size: 20px;
}

button:hover {
	background-color: blue;
	transition: .5s ease;
}

button:hover a {
	color: skyblue;
	transition: .5s ease;
}

.wrapper {
	display: grid;
	grid-template-columns: 100px 80px 100px;
	margin-bottom: 10px;
	justify-items: center;
}

.settingsButton {
	grid-column-start: 1;
	grid-column-end: 2;
	font-size: 30px;
}

.activityButton {
	grid-column-start: 3;
	grid-column-end: 4;
	font-size: 30px;
}

.taskList {
	grid-column-start: 1;
	grid-column-end: 4;
	cursor: pointer;
	user-select: none;
	width: 100%;
}

.taskList ul, 
.currentTask ul{
	display: grid;
	grid-template-columns: auto auto auto;
	width: 100%;
	justify-items: center;
}

.wrapper ul {
	list-style-type: none;
	-webkit-padding-start: 0px;
}

.wrapper ul li {
	display: inline;
}

.newTaskButton {
	grid-column-start: 1;
	grid-column-end: span 3;
}

.currentTask {
	grid-column-start: 1;
	grid-column-end: 4;
	width: 100%;
}

.pomodoro {
	grid-column-start: 2;
	grid-column-end: span 1;
	font-family: 'Maven Pro', sans-serif;
}

.pomodoroStart {
	grid-column-start: 1;
	grid-column-end: span 1;
}

.pomodoroPause {
	grid-column-start: 2;
	grid-column-end: span 1;
}

.pomodoroStop {
	grid-column-start: 3;
	grid-column-end: span 1;
}

.playItem {
	font-family: 'Gloria Hallelujah', cursive;
}

.workItem {
	font-family: 'Maven Pro', sans-serif;
}

.blocks {
	display: grid;
	grid-template-columns: auto auto;
}

.block {
	float:right;
	width: 7px;
	height: 7px;
	margin: 2px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: blue;
}

.taskList {
	font-size: 15px;
}

.taskForm button {
	margin: 10px;
}

#modeSelect, #titleInput, #timeBlocksInput {
	display: block;
	margin: auto;
	font-family: "Maven Pro";
	border-color: blue;
	border-radius: 20%;
	font-size: 14px;
}

#modeSelect {
	height: 21px;
	border-width: 2px;
}
